<div class="hero">
  <div class="hero-body container">
    <div class="title">
      Thank you, you picked a product!
      <br/>
      <%= @product["name"] %>
      <br/>
      We'll be in touch
    </div>
  </div>
</div>
