<div class="hero">
  <div class="hero-body container has-text-centered">
    <div class="title">
      Booya! You done did pick a product.
    </div>
    <div class="title is-size-2">
      <%= @loan.name.titleize %>
    </div>
    <p class="is-size-3">We'll be in touch</p>
  </div>
</div>
